<!DOCTYPE html>
<html>
<title>AI-tinerary</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        // Map related functions:
        function initMap()
        {
            map = new google.maps.Map(document.getElementById('map_div'), {
                zoom: 10,
                center: city_coordinates
            });
        }
    </script>
  <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFdP_s4uJmTv6i06k7uvnR9Urhlnmuk1U&callback=initMap">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFdP_s4uJmTv6i06k7uvnR9Urhlnmuk1U&callback=initMap">
    </script>
  <!--<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="shortcut icon" href="../favicon.ico" />
<style>
.text-black
{
    color:black;
}
body,h1
{
    font-family: "Raleway", sans-serif
}
body, html
{
    color: black;
    height: 100%
}
.bgimg
{
  background-image:url('https://storage.googleapis.com/pebblar-web/landing/hero_bg.svg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
#map_div
{
    height: 85vh;
    overflow: hidden;
}
.card
{
    border: 0.5px solid black;
    border-radius: 5px;
}
.day_head
{
    width: 100%;
    text-align:left;
}
#days
{
    overflow: auto;
}
</style>
<script>
    // Utility functions:
    function calculateNumDays(startDate, endDate)
    {
        // Returns the number of days between the two dates (both inclusive).
        // startDate, endDate: Both are in the mm/dd/yyyy format.
        diff =  Math.floor(( Date.parse(endDate) - Date.parse(startDate) ) / 86400000);
        return diff+1;
    }
</script>
<script>
    // STUB STUB STUB.
    // Replace with actual data from the home page.
    var start_date = "1/12/2019";
    var end_date = "1/13/2019";
    var num_days = calculateNumDays(start_date, end_date);
    var city = "Los Angeles";
    var city_coordinates = {lat: 34.052235, lng: -118.243683};
    var map;
    var itinerary = {
        0: {
            0: {
            'Name': 'Public Art "The Intimacy of Place"',
            'Opening': '10:00',
            'Closing': '8:00',
            'Leave_by': '12:00',
            'Reach_by': '10:00',
            'Location': {
                'lat': 34.0293657,
                'lng': -118.273467
            },
            'Rating': 5
            },
            1: {
            'Name': 'Walt Disney Concert Hall',
            'Opening': '10:00',
            'Closing': '8:00',
            'Leave_by': '14:08',
            'Reach_by': '12:08',
            'Location': {
                'lat': 34.0553454,
                'lng': -118.249845
            },
            'Rating': 4.7
            },
            2: {
            'Name': 'Little Tokyo',
            'Opening': '11:00',
            'Closing': '6:30',
            'Leave_by': '16:12',
            'Reach_by': '14:12',
            'Location': {
                'lat': 34.0493433,
                'lng': -118.2396309
            },
            'Rating': 4.5
            },
            3: {
            'Name': 'Destination Downtown LA Tours',
            'Opening': '10:00',
            'Closing': '8:00',
            'Leave_by': '18:17',
            'Reach_by': '16:17',
            'Location': {
                'lat': 34.0466219,
                'lng': -118.2507019
            },
            'Rating': 4.8
            },
            'closed': 1
        },
        1: {
            0: {
            'Name': 'Griffith Park',
            'Opening': '10:00',
            'Closing': '8:00',
            'Leave_by': '12:00',
            'Reach_by': '10:00',
            'Location': {
                'lat': 34.13655440000001,
                'lng': -118.2942
            },
            'Rating': 4.7
            },
            1: {
            'Name': 'Chinatown Central Plaza',
            'Opening': '12:00',
            'Closing': '6:00',
            'Leave_by': '14:13',
            'Reach_by': '12:13',
            'Location': {
                'lat': 34.065245,
                'lng': -118.2374264
            },
            'Rating': 4.1
            },
            2: {
            'Name': 'Guinness World Records Museum',
            'Opening': '12:00',
            'Closing': '6:00',
            'Leave_by': '16:30',
            'Reach_by': '14:30',
            'Location': {
                'lat': 34.1014015,
                'lng': -118.3380435
            },
            'Rating': 3.7
            },
            3: {
            'Name': 'Hollywood Wax Museum®',
            'Opening': '11:00',
            'Closing': '6:30',
            'Leave_by': '18:30',
            'Reach_by': '16:30',
            'Location': {
                'lat': 34.10173109999999,
                'lng': -118.3381527
            },
            'Rating': 4.3
            },
            'closed': 1
        },
        2: {
            0: {
            'Name': 'Battleship USS Iowa Museum',
            'Opening': '10:00',
            'Closing': '8:00',
            'Leave_by': '12:00',
            'Reach_by': '10:00',
            'Location': {
                'lat': 33.7422615,
                'lng': -118.2772823
            },
            'Rating': 4.7
            },
            1: {
            'Name': 'LA Waterfront',
            'Opening': '11:00',
            'Closing': '6:30',
            'Leave_by': '14:01',
            'Reach_by': '12:01',
            'Location': {
                'lat': 33.738759,
                'lng': -118.279002
            },
            'Rating': 4.5
            },
            2: {
            'Name': 'Public Art "Urban Light"',
            'Opening': '11:00',
            'Closing': '6:30',
            'Leave_by': '16:44',
            'Reach_by': '14:44',
            'Location': {
                'lat': 34.0630235,
                'lng': -118.3592373
            },
            'Rating': 4.6
            },
            'closed': 1
        },
        3: {
        0: {
        'Name': 'Runyon Canyon Park',
        'Opening': '10:00',
        'Closing': '8:00',
        'Leave_by': '12:00',
        'Reach_by': '10:00',
        'Location': {
            'lat': 34.1052437,
            'lng': -118.3489574
        },
        'Rating': 4.7
        },
        1: {
        'Name': 'Discover Los Angeles Visitor Information Center (Hollywood)',
        'Opening': '11:00',
        'Closing': '6:30',
        'Leave_by': '14:05',
        'Reach_by': '12:05',
        'Location': {
            'lat': 34.1024501,
            'lng': -118.3399853
        },
        'Rating': 4.3
        },
        2: {
        'Name': 'Jerome C. Daniel Overlook above the Hollywood Bowl',
        'Opening': '11:00',
        'Closing': '6:30',
        'Leave_by': '16:14',
        'Reach_by': '14:14',
        'Location': {
            'lat': 34.116428,
            'lng': -118.3421476
        },
        'Rating': 4.5
        },
        3: {
        'Name': 'Hollywood Sign',
        'Opening': '11:00',
        'Closing': '6:30',
        'Leave_by': '18:25',
        'Reach_by': '16:25',
        'Location': {
            'lat': 34.1341151,
            'lng': -118.3215482
        },
        'Rating': 4.5
        },
        'closed': 1
    }
    }
    function getmarkers(index)
    {
        var day = itinerary[index];
        if(day.closed == 1)
        {
            day.closed = 0;
            var markers = [];
            for(var key in day)
            {
                if(key == "closed")
                    continue;
                else
                    markers[markers.length] = day[key];
            }
            console.log(markers[0]['Location']['lat']);
            var waypoints = [];
            for(var i = 0;i<markers.length;i++)
            {
                if(i == 0 || i == markers.length - 1)
                {
                    continue;
                }
                else
                {
                    waypoints.push(
                        {
                            location: {lat: parseFloat(markers[i]['Location']['lat']), lng: parseFloat(markers[i]['Location']['lng'])},
                            stopover: true
                        });
                }
            }
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            initMap();
            directionsDisplay.setMap(map);
            directionsService.route({
                origin: {lat: parseFloat(markers[0]['Location']['lat']), lng: parseFloat(markers[0]['Location']['lng'])},
                destination: {lat: parseFloat(markers[markers.length - 1]['Location']['lat']), lng: parseFloat(markers[markers.length - 1]['Location']['lng'])},
                travelMode: 'DRIVING',
                waypoints: waypoints
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
        else
        {
            day.closed = 1;
            initMap();
        }
    }
    function loadItinerary()
    {
        var text = '';
        for(var day in itinerary)
        {
            var num = (parseInt(day)+parseInt(1));
            text += '<div class="card"><div class="card-header" id="heading'+num+'"><h5 class="mb-0"><button class="btn btn-link day_head" onclick="this.blur();getmarkers('+day+');" type="button" data-toggle="collapse" data-target="#collapse'+num+'" aria-controls="collapse'+num+'"><h3>Day '+num+'</h3></button></h5></div><div id="collapse'+num+'" class="collapse" aria-labelledby="heading'+num+'" data-parent="#accordionExample"><div class="card-body"><ul>';
            for(var loc in itinerary[day])
            {
                if(loc == 'closed')
                    continue;
                text += '<li>'+itinerary[day][loc]['Name']+'</li>';
            }
            text += '</ul></div></div></div><br />';
        }
        document.getElementById('accordionExample').innerHTML = text;
    }
</script>
<body onload="loadItinerary()">
  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand w3-text-white" href="#">AI-tiniary</a>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav w3-text-white">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div> -->
    </nav>
    <div class = "container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="text-black">Itinerary for <span id="num_days"></span> days in <span id="city_name"></span></h1>
                <h3 class="text-black">From <span id="start"></span> to <span id="end"></span></h3>
                <hr />
                <div id="days">
                    <div class="accordion text-black" id="accordionExample">
                        
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" id="map_div">
            </div>
        </div>
    </div>
  </div>
</body>
<script>
    // Set up data.
    document.getElementById("city_name").innerHTML = city;
    document.getElementById("num_days").innerHTML = num_days;
    document.getElementById("start").innerHTML = start_date;
    document.getElementById("end").innerHTML = end_date;
</script>
</html>